# Directory e file generati da IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Directory target (compilazione Maven/Gradle)
target/
out/
bin/

# File di log e di debug
*.log
hs_err_pid*

# File della cache di IntelliJ
.idea
.idea/workspace.xml
.idea/libraries/
.idea/modules.xml
.idea/.name

# File di Eclipse
.classpath
.project
.settings/

# Directory di build di Gradle e Maven
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# File generati da Maven
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.backup
dependency-reduced-pom.xml

# File di configurazione di Mac
.DS_Store

# File di esecuzione su Mac/Linux
*.swp
*.swo
*.swn