/* Login_style.css */
@import "base_style.css";

/* Specific style for the login button */
.access_button {
    -fx-background-color: linear-gradient(to right, #4caf50, #66bb6a);
}

/* Sign in with text style */
.sign-in-with {
    -fx-font-weight: bold;
    -fx-font-family: "KoHo Light";
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}