/* StartScreen_style.css */
@import "Base_style.css";

/* Sign in button style */
.signIn_button {
    -fx-background-color: linear-gradient(to right, #4caf50, #66bb6a);
    -fx-cursor: hand;
}

/* Sign up button style */
.signUp_button {
    -fx-background-color: linear-gradient(to right, #309133, #366f39);
    -fx-cursor: hand;
}

/* Hover style for sign in button (when mouse hovers over the button) */
.signIn_button:hover {
    -fx-background-color: linear-gradient(to right, #43a047, #66bb6a);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 12, 0.5, 0, 3);
}

/* Hover style for sign up button (when mouse hovers over the button) */
.signUp_button:hover {
    -fx-background-color: linear-gradient(to right, #309133, #366f39);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 12, 0.5, 0, 3);
}

